appdirs==1.4.4
cfgv==3.2.0
distlib==0.3.1
filelock==3.0.12
identify==1.4.26
mysql-connector==2.2.9
mysql-connector-python==8.0.20
nodeenv==1.4.0
pre-commit==2.6.0
protobuf==3.18.3
psycopg2-binary==2.8.4
PyYAML==5.4
six==1.15.0
toml==0.10.1
virtualenv==20.0.30
